:root {
  --text-color: #212121;
  --active-color: #2196f3;
  --button-background: #f5f4fa;
  --button-txt: #fff;
  --dark-background: #2f303a;
  --ordinary-text: #757575;
  --works-border: #eeeeee;
  --header-border: #ececec;
}
/* border-box all over this hw*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

/* title, text, background and other */
.we-do.title,
.team.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team.card.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team.card.text {
  /* display: inline-block;
  min-width:270px; */
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--ordinary-text);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.strength.card.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--ordinary-text);
}

.tile-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.works.card.text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--ordinary-text);
}

.card {
  list-style-type: none;
}

.bttm,
.hero {
  background-color: var(--dark-background);
  color: var(--button-txt);
}
.hero{
  background-image: url(../images/Imghero-2.jpg), url(../images/imgoverlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.strength.card.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.hero-title,
.strength.card.title {
  text-transform: uppercase;
}

/*all that connected to links*/
.header.contacts.card > .link {
  color: var(--ordinary-text);
}
.footer.contacts.card > .link:hover,
.header.contacts.card > .link:hover,
.link:hover,
.link:focus,
.link.current {
  color: var(--active-color);
}
.footer.contacts.card > .link {
  color: rgba(255, 255, 255, 0.6);
}
.link {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.logo-link {
  text-decoration: none;
}

/* all about logo*/
.logo,
.header-logo,
.footer-logo {
  font-family: "Ralway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--active-color);
}
.header-logo {
  color: var(--text-color);
}
.footer-logo {
  color: var(--button-txt);
}

/* all about header and footer */
.header .card.footer .card {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.footer .card {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--button-txt);
}

/* all about buttons */
.btn,
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-background);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.hero-btn {
  background-color: var(--active-color);
  color: var(--button-txt);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-txt);
}

/* для домашнего задания номер 3*/
/* styles for index.html */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
.container {
  /* outline: solid tomato; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border);
}
.header.navigation {
  display: flex;
  align-items: center;
}
.logo.link.header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header.navigation.card {
  margin-right: 50px;
}
.header.navigation.card:last-child {
  margin-right: 0px;
}
.header.contacts.cards {
  display: flex;
  margin-left: auto;
}
.header.contacts.card {
  margin-right: 50px;
}
.header.contacts.card:last-child {
  margin-right: 0;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}
.strength-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.strength.cards {
  display: flex;
}
.strength.card {
  width: 270px;
  margin-right: 30px;
}
.strength.card:last-child {
  margin-right: 0;
}
.strength.card.title {
  display: block;
  margin-bottom: 10px;
}
.we-do.title {
  display: block;
  margin-bottom: 50px;
}
.we-do.cards {
  display: flex;
}
.we-do.card {
  margin-right: 30px;
}
.we-do.card:last-child {
  margin-right: 0;
}
.we-do-section {
  padding-bottom: 94px;
}
.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team.title {
  margin-bottom: 50px;
}
.team.cards {
  display: flex;
}
.team.card.item {
  background-color: var(--button-txt);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team.card:last-child {
  margin-right: 0;
}
.team-card-content{
  padding-top:30px;
  padding-bottom:30px;
}
/* .team.card.img {
  margin-bottom: 30px;
} */
.team.card.title {
  margin-bottom: 10px;
}
/* .team.card.text {
  margin-bottom: 30px;
} */
.bttm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo.link.footer{
  display: block;
  margin-bottom:20px;
}
.footer-adress{
  margin-bottom:9px;
}
.footer.contacts.card {
  display: block;
  margin-bottom: 9px;
}

.footer.contacts.card:last-child {
  margin-bottom: 0;
}

/* styles for portfolio.html */
.section-works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.works.filters.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.works.filters.card {
  margin-right: 8px;
}
.works.filters.card:last-child {
  margin-right: 0;
}
.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.works.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 56px;
}
.card-border {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid var(--works-border);
  border-left: 1px solid var(--works-border);
  border-bottom: 1px solid var(--works-border);
}
.works.card.item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.works.card.item:nth-child(3n) {
  margin-right: 0;
}
.works.card.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.tile-title {
  margin-bottom: 4px;
}
